**/.venv
**/pytest_cache
**/__pycache__
**/node_modules
**/venv
**/.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

--
# Miscellaneous
**/.class
**/.log
**/.pyc
**/.swp
**/.DS_Store
**/.atom/
**/.build/
**/.buildlog/
**/.history
**/.svn/
**/.swiftpm/
**/migrate_working_dir/

# IntelliJ related
**/.iml
**/.ipr
**/.iws
**/.idea/